In [50]:
import pandas as pd
import os

In [51]:
file_path = "timespent.xlsx"  # Update with actual file path if needed
df = pd.read_excel(file_path)

df

,Attraction,Time spent in Attraction (minutes),Unnamed: 2,Unnamed: 3,Unnamed: 4,
0,A,34.2,,NaN,NaN,NaN
1,A,28.2,NaN,NaN,NaN,NaN
2,A,24.9,NaN,NaN,NaN,NaN
3,A,34.3,NaN,NaN,NaN,NaN
4,A,28.1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2395,D,20.5,NaN,NaN,NaN,NaN
2396,D,31.2,NaN,NaN,NaN,NaN
2397,D,34.6,NaN,NaN,NaN,NaN
2398,D,18.0,NaN,NaN,NaN,NaN
2399,D,15.0,NaN,NaN,NaN,NaN

In [52]:
df.columns = df.columns.str.strip()

In [53]:
df = df.iloc[:, :2]

df

     Attraction  Time spent in Attraction (minutes)
0            A                                 34.2
1            A                                 28.2
2            A                                 24.9
3            A                                 34.3
4            A                                 28.1
...         ...                                 ...
2395          D                                20.5
2396          D                                31.2
2397          D                                34.6
2398          D                                18.0
2399          D                                15.0

[2400 rows x 2 columns]

In [54]:
df.columns = ["Attraction", "TimeSpent"]

df

     Attraction  TimeSpent
0            A        34.2
1            A        28.2
2            A        24.9
3            A        34.3
4            A        28.1
...         ...        ...
2395          D       20.5
2396          D       31.2
2397          D       34.6
2398          D       18.0
2399          D       15.0

[2400 rows x 2 columns]

In [55]:
df.Attraction.unique()

array(['A ', 'B', 'C', 'D'], dtype=object)

In [56]:
df["Attraction"] = df["Attraction"].str.strip()

In [57]:
df.Attraction.unique()

array(['A', 'B', 'C', 'D'], dtype=object)

In [58]:
len(df)

2400

In [59]:
df = df.dropna()

In [60]:
len(df)

2400

In [61]:
df["TimeSpent"] = df["TimeSpent"].astype(float)

df.TimeSpent

0       34.2
1       28.2
2       24.9
3       34.3
4       28.1
        ...
2395    20.5
2396    31.2
2397    34.6
2398    18.0
2399    15.0
Name: TimeSpent, Length: 2400, dtype: float64

In [62]:
df[df["Attraction"] == "A"]

    Attraction  TimeSpent
0            A       34.2
1            A       28.2
2            A       24.9
3            A       34.3
4            A       28.1
..         ...        ...
595          A       32.7
596          A       29.3
597          A       33.9
598          A       26.6
599          A       40.8

[600 rows x 2 columns]

In [63]:
# for attraction in ["A", "B", "C", "D"]:
#     df_attraction = df[df["Attraction"] == attraction]
#     df_attraction.to_excel(f"{attraction}.xlsx", index=False)

In [64]:
for attraction in ["A", "B", "C", "D"]:
    df_attraction = df[df["Attraction"] == attraction]["TimeSpent"]
    
    # Create folder for the attraction if it doesn't exist
    folder_name = f"./{attraction}"
    os.makedirs(folder_name, exist_ok=True)
    
    # Save the text file inside the folder
    file_path = os.path.join(folder_name, f"{attraction}.txt")
    with open(file_path, "w") as f:
        for value in df_attraction:
            f.write(f"{value}\n")